<div class="index-page">
  <h2 class="ui horizontal divider header question">
  {{quiz.question.word}} {{quiz.question.pronounce}}
  <span class="small">{{quiz.question.type}}</span>
  </h2>

  <div class="ui grid">
    <div ng-repeat="answer in quiz.answers" class="eight wide column answer">
      <button ng-click="goToResult(answer.meaning)"
       class="ui blue button medium compact fluid">{{answer.meaning}}</button>
    </div>
  </div>
  <br>
  <br>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" value="{{quiz.determinateValue}}"></md-progress-circular>
  </div>
  <!-- <div class="col-lg-12">  
    <div class="row">  
        <div style="background-color:#808080;" ng-style="{'width':model.width}">{{model.progress}}%</div>  
    </div>  
  </div>   -->
</div>
